<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="vscode" />
      <package id="nodejs" version="10.17.0" />
      <package id="yarn" />
      <package id="telegram"/>
      <package id="git" />
      <package id="putty" />
      <package id="notepadplusplus" />
      <package id="autohotkey.portable" />
      <package id="microsoft-edge-insider-dev" />
      <package id="rocketchat" />
      <package id="vlc" />
      <package id="winrar" />
      <package id="teamviewer" />
      <package id="winscp" />
      <package id="firefox" />
      <package id="sourcetree" />
      <package id="spotify" />
      <package id="postman" />
      <package id="etcher" />
      <package id="enpass.install" />
      <package id="git-fork" />
    </packages>
